---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

{% assign chapters = site.pages | where: "layout", "page" | sort: "order" %}
{% assign chapter_index = -1 %}
{% for node in chapters %}
  {% if node.url == page.url %}
    {% assign chapter_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% if chapter_index > -1 %}
  {% assign chapters_size = chapters | size %}
  {% assign prev_index = chapter_index | minus: 1 %}
  {% assign next_index = chapter_index | plus: 1 %}
  <nav class="pagination chapter-nav">
    {% if prev_index >= 0 %}
      {% assign prev_chapter = chapters[prev_index] %}
      <a class="pagination-item older" href="{{ site.baseurl }}{{ prev_chapter.url }}">&larr; {{ prev_chapter.title }}</a>
    {% else %}
      <a class="pagination-item older" href="{{ site.baseurl }}/">&larr; गृहपृष्ठ</a>
    {% endif %}
    {% if next_index < chapters_size %}
      {% assign next_chapter = chapters[next_index] %}
      <a class="pagination-item newer" href="{{ site.baseurl }}{{ next_chapter.url }}">{{ next_chapter.title }} &rarr;</a>
    {% else %}
      <span class="pagination-item newer">&rarr;</span>
    {% endif %}
  </nav>
{% endif %}
